.modal{
    z-index: 10;    
    position: fixed;
    background-color: white;
    width: 40vw;
    height: 40vh;
    padding: 10px;
    top:30vh;
    left: 30vw;
    border-radius: 10px;
    box-shadow: 5px 3px 15px 1px black;
}